<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <meta charset="UTF-8">
        <title>FAF Vote</title>
        <link href="http://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="/static/css/patchnotes.css">
    </head>

    <body>
        <table id="container">
            <tbody>
                <tr>
                    <td id="main">
                        <div id="intro">
                            <h1>Player Councillor Election & Balance Vote</h1>
                            <p>Hi everyone,</p>
							<p>I want to apologise to everyone for the election of a Player Councillor having been delayed once again. I have decided to set up a vote myself now to avoid further delay and hope this is in the interest of everyone.</p>
                            <p>A massive thanks go to Softly and Aulex that provided the technical infrastructure for the vote, without them this vote would not be possible without Visionik.</p> 
							<p>Additionally to the election of the Player Councillor, this also allows me to create a vote about the direction and structure of the balance team that you can also decide about now.</p>
							<p>Voting will be open for two weeks starting 11th November.</p>
							<p><a href="/login" style="color: orange; vcolor: red">You can vote here</a></p>						
                            <p><br>-- Zock</p>
                        </div>
                        
                        
                        <h2></h2>
                        <div id="aeont1maa" class="card">
                            <h3><img src="/static/img/pc.png"> Player Councillor Vote</h3>
                            <p>The Council of Setons is a group of FAF contributors selected and tasked with the responsibility to guide the FAF community project.<br><br>
							The Players Councilor is a member of the Council of Setons, who will be elected by the community to work on These Responsibilities:
							<ul>
							<li>Communicate with as many FAF players as is possible to gather, represent, and promote their ideas and interests.</li>
							<li>Organise a schedule of the FAF community project events.</li>
							<li>Organise tournament directors who run tournaments for players.</li>
							<li>Gather feedback from the FAF project community to determine their top desires and problems.</li>
							<li>Present and represent this information in the best interests of the players to the Council of Setons.</li>
							</ul></p>
<p>Please take some time to read the election pledges of the candidates. You can find them here:</p>
							<ul>
							<li><a href="http://forums.faforever.com/viewtopic.php?f=2&t=13412">biass</a></li>
							<li><a href="http://forums.faforever.com/viewtopic.php?f=2&t=13395">Evildrew</a></li>
							<li><a href="http://forums.faforever.com/viewtopic.php?f=2&t=13400">Giebmasss</a></li>
							<li><a href="http://forums.faforever.com/viewtopic.php?f=2&t=13401">Tokyto</a></li>
							</ul>							
                        </div>

                        <h2></h2>
                        <div id="aeont1maa" class="card">
                            <h3><img src="/static/img/balance.png">Balance Team Vote</h3>
                            <p>This vote will decide how the balance team will be formed in the future. We can let the balance team be elected by the community or continue the approach of the past years to let the balance councillor appoint the team based on who he considers suitable.</p>
							<p>You can find Blackheart's post that asks for an elected team <a href="http://forums.faforever.com/viewtopic.php?f=67&t=13130">here</a>, and my and other responses <a href="http://forums.faforever.com/viewtopic.php?f=67&t=13130&start=40#p135382">in the same thread</a>.</p>
							<p>An appointed team would continue the current approach to balancing, while an elected team would work as following:
							<ul>
							<li>The team will consist of five members elected by the community</li>
							<li>The balance councillor can additionally appoint up to three people to the team to make sure unknown but motivated persons are not prevented from contributing. The vote majority will lie with the elected members however.</li>
							<li>All balance decisions will be voted by the team, every member has one vote.</li>
							<li>The balance councillor will not be part of the team and won't take part in the balance votes. He will decide in case of vote parity, organise the elections, replace inactive or otherwise unfit members and mediate in case of disagreements. He will make sure the balance team is a functional body.</li>
							<li>Each member will pledge to put in the neccessary work and time to release new balance patches.</li>
							<li>Elections will be every 6 months.</li>
                        </div>		

                        <p style="height: 1000px"></p>
                    </td>
                    
                </tr>
            </tbody>
        </table>
    </body>
</html>
