<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <meta charset="UTF-8">
        <title>FAF Vote</title>
        <link href="http://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="patchnotes.css">
    </head>

    <body>
        <table id="container">
            <tbody>
                <tr>
                    <td id="main">
                        
                        
                        <h2></h2>
                        <div id="thanks" class="card">
                            <h3><img src="pc.png">Thanks for voting!</h3>
                            <p>If you want to change your vote, just click <a href="{{site}}">here</a>.</p>
							
                        </div>
	

                        <p style="height: 1000px"></p>
                    </td>
                    
                </tr>
            </tbody>
        </table>
    </body>
</html>
