<html>
  <head>
    <meta charset="UTF-8">
    <title>FAF Vote</title>
    <link rel="stylesheet" href="/static/css/bootflat.min.css">
    <style type="text/css">
      .vote-div {
        width: 300px;
        background-color: #eee;
        color: #000;
        text-align: center;
        padding: 10px;
        padding-bottom: 20px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 50px;
        border-radius: 4px;
      }
      .btn-success-vote {
        width: 100px;
        text-align: center;
        font-weight: bold;
      }
    </style>
  </head>
  <body>
    <div class="vote-div">
      <form method="post" id="vote-form">
        {% for vote in vos %}
          <h3>{{vote}}</h3>
          <div style="text-align: left">
            {% for vo in vos[vote][1] %}
              <input type="radio" name="{{vos[vote][0]}}" value="{{vos[vote][1][vo]}}"> {{vos[vote][1][vo]}}<br>
            {% endfor %}
          </div>
          <br>
        {% endfor %}
        <br>
        <button type="submit" class="btn btn-success btn-success-vote" form="vote-form">Vote!</button>
        <br>
        <p>(If you vote mutliple times, only your last vote will count)</p>
      </form>
    </div>
  </body>
</html>
